#headshot {
    width: 150px;
    height: 150px;
}

.container {
    min-width: 763px;
    width: 800px;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
}

#experience {
    margin-top: 30px;
}

.exp {
    margin-top: 20px;

}
